#home-page-picture{
  width: 100%;
  top: 0;
  display: block;
}


#home-page-container {
    
    top: 100px;
     display: block;
     position: fixed;
     overflow: hidden;
bottom: 0px;


} 

#phantom{
  display: 'block';
  padding: '20px';
  height: '60px';
  width: '100%';
}


#home-page-container img {
    
    width: 100%;
    height: 100%;
    margin-top: 0px;
} 

/* #home-page-overlay {
    height: 350px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
} */