#home-page-picture{
   height: 50vh;
  position: relative;
}



home-page-container {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}