.outer-single-div{
  margin-top: 66px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#individual-spot-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

#individual-spot-main-photo-container{
  height: 400px;
  width: 100%;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

.photo-slide {
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(216,216,216);
}

#under-box{
    position: relative;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-bottom: 70px;
  margin-top: 20px;
  padding: 0 10px;
}

#info-box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 350px);
}

.lastline {
  border-top: 1px solid lightgray;
}


.single-spot-info-column{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 350px);
}

.single-spot-name{
  width: 100%;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.125em;
  color: #484848;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: unset;
  text-transform: capitalize;
}
.single-spot-address{
  word-wrap: break-word;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #484848;
}
.single-spot-occupancy{
  margin: 10px 0;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #484848;

}
.single-spot-occupancy p{
  margin: 0px;
  margin-top: 5px;
  font-weight: 400;
}
.single-spot-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: #484848;
  margin-top: 10px;
  margin-right: 10px;
  
}

.single-spot-description p{
  word-break: break-word;
  width: 100%;
}

.search {
  margin-left: 0px;
}

#review-section{
    padding-top: 25px;
    display: flex;
    margin-bottom: 0px;
}
.review-comment{
    text-align: center;
    padding-top: 30px;
    font-size: 1.15em;;
}

.reviewbox{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

#review-parent-div{
    display: flex;
    flex-direction: column;
}

.picture-user{
    height: 100px;
    width: 100px;
    border-radius: 60px;
}


#reviewdelete{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff8b88;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
}