#top-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 130px;
  background-color: white;
  width: 100%;
  z-index: 100;
  border-bottom: 2px solid rgb(197, 197, 197);
}

#nav-bar-logo-picture {
  height: 120px;
  margin-left: 20px;
}

#logout{
  border: none;
  height: 58px;
  width: 100%;
}

#nav-bar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 200px; */
  position: sticky;
}

.nav-link {
  margin-right: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff8b88;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}


#profilebutton{
    margin-right: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ff8b88;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  
}