
.profile-dropdown {
  position: absolute;
}

#top-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1
}

#nav-bar-logo-picture{
   height: 100px;
   margin-left: 20px;
}

#nav-bar-center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 20px;
  height: 30px;
  border: 3px solid gray;
  border-radius: 999px;
}

#nav-bar-menu{
   display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-right: 150px;
    position: sticky;
    

}

.nav-link {
  margin-right:  20px;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 10px;
  border: 3px solid gray;
  text-decoration: none;
}

